<template>
  <div id="mapAsideComponent">
      <el-image :src="src" ></el-image>
  </div>
</template>

<script>

export default {
  name: "MapAsideComponent",
  props:['ComponentValue'],
  data(){
    return{
        src: 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg'
    }
  }
  }
</script>

<style >

/* .el-image{
   height: 100%;
} */

</style>