<template>
  <div class="wellDrillTable" style="height:100%">
  <div class="WellTool">
        <h2>钻井平台</h2>
    </div>
    <el-table :data="WellDrillData" style="width: 100%">
      <el-table-column prop="WellDrill" label="钻井平台"></el-table-column>
      <el-table-column prop="UnitPrice" label="单价"></el-table-column>
      <el-table-column prop="Number" label="数量">
            <template slot-scope="scope">
              <el-input v-model.number="scope.row.Number" :disabled="!CanEditData" placeholder >{{SumNumber}}</el-input>
            </template>
      </el-table-column>
    </el-table>
   
  </div>
</template>
<script>
export default {
  name: "WellDrillTable",
  props: ['CanEditData'],
  mounted() {},
  computed: {
    SumNumber(){
        var that = this;
        var sum=0;
        that.WellDrillData.forEach(function(item,index){
          sum = sum+item.Number;
        });
      
        that.$emit("onSumNumer",sum);
    }
  },
  data() {
    return {
      
      WellDrillData: [
        {
          WellDrill: "BH4",
          UnitPrice: "51.8",
          Number: 0,
        },
        {
          WellDrill: "BH5",
          UnitPrice: "29.8",
          Number: 0,
        },
        {
          WellDrill: "BH7",
          UnitPrice: "29.8",
          Number: 0,
        },
        {
          WellDrill: "BH8",
          UnitPrice: "51.8",
          Number: 0,
        },
      ],
    };
  },
  methods: {
      
  },
};
</script>

<style>
.wellDrillTable {
  height: 100%;
  width: 95%;
  margin: 10px;

}
.WellTool{
    height: 10%;
    width: 100%;
    
    background-color: cornflowerblue;
}
h2{
    align-items: center;
    text-align:center;
    line-height: 50px;
    color: white;
}
</style>