<template>
  <div class="footor" style="position:relative;">
    <!-- <div class="FooterDiv">
      <span>待办事项</span>
    </div>-->
    <el-tabs v-model="activeName" type="card" @tab-click="handleClick" class="FooterDiv" ref="tabs">
      <el-tab-pane label="总表" name="first">
        <div>
          <ul class="footerMenuUl" style="width:100%;height:55%;">
            <li v-for="(item,index) in MenuNames" :key="index" style="height:100%;">
              <a href="#" @click="SetStoreValue(index)">
                <div>
                  <span style="color:black">表格</span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </el-tab-pane>
      <el-tab-pane label="探井计划表" name="second">
        <div>
          <ul class="footerMenuUl" style="width:100%;height:55%;">
            <li v-for="(item,index) in MenuNames" :key="index" style="height:100%;">
              <a href="#" @click="SetStoreValue(index)">
                <div>
                  <span style="color:black">探井计划表</span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </el-tab-pane>
      <el-tab-pane label="预算" name="third">
        <div>
          <ul class="footerMenuUl" style="width:100%;height:55%;">
            <li v-for="(item,index) in MenuNames" :key="index" style="height:100%;">
              <a href="#" @click="SetStoreValue(index)">
                <div>
                  <span style="color:black">预算表</span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </el-tab-pane>
      <el-tab-pane label="调整预算" name="fourth">
        <div>
          <ul class="footerMenuUl" style="width:100%;height:55%;">
            <li v-for="(item,index) in MenuNames" :key="index" style="height:100%;">
              <a href="#" @click="SetStoreValue(index)">
                <div>
                  <span style="color:black">调整预算表</span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </el-tab-pane>
      <el-tab-pane label="决算" name="five">
        <div>
          <ul class="footerMenuUl" style="width:100%;height:55%;">
            <li v-for="(item,index) in MenuNames" :key="index" style="height:100%;">
              <a href="#" @click="SetStoreValue(index)">
                <div>
                  <span style="color:black">决算表</span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </el-tab-pane>
      <el-tab-pane label="附件" name="six">
        <div>
          <ul class="footerMenuUl" style="width:100%;height:55%;">
            <li v-for="(item,index) in MenuNames" :key="index" style="height:100%;">
              <a href="#" @click="SetStoreValue(index)">
                <div>
                  <span style="color:black">附件表</span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </el-tab-pane>
    </el-tabs>
    <el-button
      size="mini"
      style="position:absolute;right:10px;top:5px;"
      @click="changeState"
      :icon="state?'el-icon-caret-bottom':'el-icon-caret-top'"
    ></el-button>

    <!-- <div>
      <ul class="footerMenuUl" style="width:100%;height:85%;">
        <li v-for="(item,index) in MenuNames" :key="index" style="height:100%;">
          <a href="#" @click="SetStoreValue(index)">
            <div style="height:170px;">
              <span style="color:black">表格</span>
            </div>
          </a>
        </li>
      </ul>
    </div>-->
  </div>
</template>

<script>
export default {
  name: "FootorCom",
  data() {
    return {
      activeName: "first",
      state: true,
      MenuNames: [
        { path: "/AsidePage/首页", name: "首页" },
        { path: "/AsidePage/预算与定额", name: "预算与定额" },
        { path: "/AsidePage/数据管理", name: "数据管理" },
        { path: "/AsidePage/帮助", name: "帮助" },
      ],
    };
  },
  methods: {
    SetStoreValue(val) {
      this.$store.state.ComponentType = "表格" + val;
    },
    handleClick(tab, event) {
      console.log(tab, event);
    },
    changeState() {
      this.state = !this.state;
      if (this.state) {
        this.showTabs();
      } else {
        this.hideTabs();
      }
    },
    showTabs(){
        this.$refs.tabs.$children[1].$el.hidden = false;
        this.$refs.tabs.$parent.$parent.$el.style.height = "200px";
    },
    hideTabs() {
      this.$refs.tabs.$children[1].$el.hidden = true;
      this.$refs.tabs.$parent.$parent.$el.style.height = "50px";
    },
  },
  mounted() {
    this.showTabs();
  },
};
</script>

<style scoped>
.footor {
  background-color: white;
}

.footerMenuUl,
.footerMenuUl li {
  list-style: none; /* 将默认的列表符号去掉 */
  padding: 0; /* 将默认的内边距去掉 */
  /* margin: 0px 30px 0px 0px; */
  float: left; /* 往左浮动 */
  display: block;
}

.FooterDiv {
  text-align: left;
  line-height: 35px;
  vertical-align: middle;
  width: 100%;
  height: 15%;
}
.footerMenuUl div {
  width: 200px;
  height: 100px;
  margin: 10px;
  border: 1px solid black;
}
</style>