<template>
  <div class="leftdiv">
    <div
      class="LeftAsideDiv span"
      style="width:100%;height:5%;background-color:#4169e1;margin-top:5px"
    >
      <span>事务管理</span>
    </div>
    <div class="LeftAsideDiv btn">
      <el-row>
        <el-button
          type="success"
          style="width:150px"
          @click="SetComponentType('待办')"
        >待办（{{WorkClassity.WaitWork}}）</el-button>
      </el-row>
      <el-button
        type="warning"
        style="width:150px"
        @click="SetComponentType('已办')"
      >已办（{{WorkClassity.FinshedWork}}）</el-button>
    </div>

    <div
      class="LeftAsideDiv span"
      style="width:100%;height:5%;background-color:#4169e1;margin-top:5px"
    >
      <span>历史成果</span>
    </div>
    <div class="LeftAsideDiv btn">
      <el-input
        placeholder="请输入内容"
        prefix-icon="el-icon-search"
        v-model="YearInput"
        style="width:150px"
      ></el-input>
    </div>
    <div class="LeftAsideDiv ul">
      <ul class="LeftAsideUl">
        <li class="m-nav-item" v-for="item in YearList" :key="item">
          <a  @click="SetComponentType(item)">
            <div style="color:white">{{item}}</div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "LeftCom",
  data() {
    return {
      WorkClassity: {
        WaitWork: 0,
        FinshedWork: 0,
      },
      YearList: [
        // "2010",
        // "2011",
        // "2012",
        // "2013",
        // "2014",
        // "2015",
        // "2016",
        // "2017",
        // "2018",
        // "2019",
      ],
      YearInput: "",
      TestPicWorkData: [],
      FinshTestPitData: [],
      EditTestPitData: [],
      index:0,
    };
  },
  computed: {},
  watch: {
    TestPicWorkData: {
      handler: function (newV, oleV) {
          var that = this;
          if(isNaN(that.$store.state.ComponentType)){
            that.EditTestPitData = [];
            that.FinshTestPitData = [];
          newV.forEach(function (item, index) {
            if (item.financialStatements == "已完成") {
              that.FinshTestPitData.push(item);
            } else {
              that.EditTestPitData.push(item);
            }
          });
          }
          that.WorkClassity = {
            WaitWork: that.EditTestPitData.length,
            FinshedWork: that.FinshTestPitData.length,
          };
        
      },
      deep: true,
    },
  },
  mounted() {
    this.getTestPicWorkData();
    var Year = new Date().getFullYear()-1;
    for(var y = Year;y>=2010;y--){
        this.YearList.push(y);
    }
  },
  methods: {
    SetComponentType(val) {
      var that = this;
      that.$store.state.ComponentType = val=="待办"?val+that.index:val;
      if (isNaN(val)) {
        that.getTestPicWorkData();
        that.$store.state.TestPicWorkData =
        val == "待办" ? that.EditTestPitData : that.FinshTestPitData;
        that.index++;
      } else {
       that.SetStoreValue(val);
      
      }
    },
    getTestPicWorkData() {
      var that = this;
      var data = that.getDataFun.getTestPicWorkData(this, function (
        self,
        data
      ) {
        that.TestPicWorkData = data;
      });

      // var that = this;
      // axios
      //   .get("http://localhost:8080/getTestPicWorkData")
      //   .then((resp) => {
      //     console.log("leftcom")
      //
      //   })
      //   .catch((err) => {
      //     console.log("请求失败：" + err.status + "," + err.statusText);
      //   });
    },
    SetStoreValue(val) {
      var data = {
        year: val,
      };
      var that = this;
       axios
      .get("http://localhost:8080/getYearTestPicWorkData", { params: data })
      .then((resp) => {
             that.TestPicWorkData =resp.data;
              that.$store.state.TestPicWorkData = that.TestPicWorkData;
      })
      .catch((err) => {
        //
        console.log("请求失败：" + err.status + "," + err.statusText);
      });
     
    },
  },
};
</script>

<style>
.leftdiv {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #6495ed;
}

.el-header {
  background-color: #20a0ff;
  color: #333;

  /* text-align: center;
  line-height: 60px; */
}

.el-footer {
  background-color: white;
  color: #333;
  padding: 0;
  /* text-align: center;
  line-height: 60px; */
}

.el-aside {
  color: #333;
  /* text-align: center;
  line-height: 200px; */
  /* height: 1000px; */
}

.el-main {
  background-color: #e9eef3;
  color: #333;
  padding: 0;
  /* text-align: center;
  line-height: 160px; */
}
.h1 {
  color: white;
}

a {
  text-decoration: none;
}

.router-link-active {
  text-decoration: none;
}

.LeftAsideDiv {
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
}
.LeftAsideDiv span,
.FooterDiv span {
  color: white;
  font-weight: bolder;
}

.LeftAsideUl,
.LeftAsideUl li {
  list-style: none; /* 将默认的列表符号去掉 */
  padding: 0; /* 将默认的内边距去掉 */
  margin: 0;
  display: block;
}
.LeftAsideUl div {
  background-color: #003ef7;
  margin: 5px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
}
</style>