<template>
  <div class="home">
    <el-container>
      <el-header height="80px">
        <home-header></home-header>
      </el-header>
      <el-container>
        <el-aside width="250px">
          <left-com></left-com>
        </el-aside>
        <el-container>
          <el-main>
            <contain-com @getHomeLoad="getHomeLoad"></contain-com>
          </el-main>
          <el-footer height="300px" >
            <footor-com></footor-com>
          </el-footer>
        </el-container>
      </el-container>
    </el-container>
  </div>
</template>

<script>
import HomeHeader from "./Common/HeaderComponent.vue";
import LeftCom from "./Common/MainComponent.vue";
import ContainCom from "./Common/AsideComponent.vue";
import FootorCom from "./Common/FooterComponent.vue";
export default {
  components: {
    HomeHeader,
    LeftCom,
    ContainCom,
    FootorCom,
  },
  data(){
    return {
    }
  },
  methods: {
   getHomeLoad(){
     window.location.reload();
   }
  },
};
</script>

<style>
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.home {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.el-header,
.el-footer {
  color: #333;
  text-align: center;
  line-height: 60px;
  padding: 0;
}

/* 
.el-header{
  height: 100px;
} */
.el-footer {
}

.el-aside {
  /* background-color: #dfeeff;
  color: #333;
  text-align: center;
  line-height: 200px;
  padding: 0;*/
}

.el-main {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
}

.el-container {
  height: 99.68%;
  width: 100%;
  display: -webkit-box;
}
</style>