<template>
  <!-- 工具栏 -->
  <div class="initialBudgetTable">
    <div class="ToolBal">
      <el-button @click="ConsultWellDialog=true">参照井</el-button>
      <el-button @click="AppendixDialog=true">附件管理</el-button>
      <el-button>保存</el-button>
      <el-button @click="SaveExcel">导出</el-button>
      <el-button @click="SubmitBudgetData">提交</el-button>
    </div>
    <!-- 工具栏  end -->
    <!-- 表格 -->
    <div>
      <h1>初始预算表</h1>

      <el-table id="FirstTable" class="ftable" :data="transData" height="200px">
        <el-table-column
          v-for="(item,index) in WellNewsData"
          label
          :key="index"
          align="center"
          width="100px"
        >
          <template slot-scope="scope">
            <!-- <el-select v-model="selectValue" placeholder v-if="scope.$index>0&&index>10">
              <el-option
                v-for="(item,index) in scope.row[index]"
                :key="index"
                :label="item"
                :value="index"
              ></el-option>
            </el-select>-->
            <span v-if="index%2==0">{{scope.row[index]}}</span>
            <span v-else>
              <el-input :disabled="!CanEditData" v-model="scope.row[index]" placeholder></el-input>
            </span>
          </template>
        </el-table-column>
      </el-table>
      <el-table
        :data="tableData"
        ref="BudgetTable"
        row-key="uid"
        id="BudgetTable"
        :tree-props="{children: 'children', hasChildren: 'hasChildren'}"
        highlight-current-row
        @current-change="RightDialog"
      >
        >
        <el-table-column prop label>
          <el-table-column prop="projectName" label="项目" align="center"></el-table-column>
          <el-table-column prop="udGetCost" label="预算（不含税）">
            <el-table-column prop="comConventRmb" label="折合人民币">
              <template slot-scope="scope">
                <edit-div :value="comConventRmb(scope.row)" :can-edit="CanEditData"></edit-div>
              </template>
            </el-table-column>
            <el-table-column prop="comRmb" label="人民币">
              <template slot-scope="scope">
                <edit-div :value="comRmb(scope.row)" :can-edit="CanEditData"></edit-div>
              </template>
            </el-table-column>
            <el-table-column prop="comDollar" label="美元">
              <template slot-scope="scope">
                <edit-div :value="comDollar(scope.row)" :can-edit="CanEditData"></edit-div>
              </template>
            </el-table-column>
          </el-table-column>
        </el-table-column>
        <el-table-column prop="date" label="模型公式：单价*数量*周期*费率" align="center">
          <el-table-column prop="UnitPrice" label="单价">
            <el-table-column prop="rmb" label="人民币">
              <template slot-scope="scope">
                <!--    <el-input :disabled="!CanEditData" v-model="scope.row.rmb" @input="rmbinput(scope.row.rmb)" placeholder></el-input>-->
                <edit-div :value="scope.row.rmb" :can-edit="CanEditData"></edit-div>
              </template>
            </el-table-column>
            <el-table-column prop="dollar" label="美元">
              <template slot-scope="scope">
                <!--  <el-input :disabled="!CanEditData" v-model="(scope.row.rmb/scope.row.rate).toFixed(2)" placeholder></el-input>-->
                <edit-div :value="scope.row.dollar" :can-edit="CanEditData"></edit-div>
              </template>
            </el-table-column>
          </el-table-column>
          <el-table-column prop="number" label="数量">
            <template slot-scope="scope">
              <el-input
                :disabled="!CanEditData"
                v-model="scope.row.number"
                v-if="!scope.row.rightDialog"
                placeholder
              ></el-input>
              <edit-div :value="comNumber(scope.row)" :can-edit="false" v-else></edit-div>
            </template>
          </el-table-column>
          <el-table-column prop="revolution" label="周期">
            <template slot-scope="scope">
              <el-input :disabled="!CanEditData" v-model="scope.row.revolution" placeholder></el-input>
            </template>
          </el-table-column>
          <el-table-column prop="rate" label="费率">
            <template slot-scope="scope">
              <el-input :disabled="!CanEditData" v-model="scope.row.rate" placeholder></el-input>
            </template>
          </el-table-column>
          <el-table-column prop="unit" label="单位">
            <template slot-scope="scope">
              <el-input :disabled="!CanEditData" v-model="scope.row.unit" placeholder></el-input>
            </template>
          </el-table-column>
        </el-table-column>
        <el-table-column prop="remarks" label="备注"></el-table-column>
      </el-table>
    </div>
    <!-- 表格  end -->
    <!-- 参照井 -->
    <div>
      <el-dialog
        title="参照井"
        :visible.sync="ConsultWellDialog"
        width="20%"
        :before-close="handleClose"
      >
        <el-table
          ref="multipleTable"
          :data="ConsultWellData"
          tooltip-effect="dark"
          style="width: 100%"
          @selection-change="ConsultWellSelection"
        >
          <el-table-column type="selection" width="150px"></el-table-column>
          <el-table-column label="参照井井名" prop="ConsultWellName" width="150px"></el-table-column>
        </el-table>

        <span slot="footer" class="dialog-footer">
          <el-button @click="ConsultWellDialog = false">保 存</el-button>
          <el-button type="primary" @click="ConsultWellDialog = false">关闭</el-button>
        </span>
      </el-dialog>
    </div>
    <!-- 参照井  end -->
    <!-- 附件管理 -->
    <div>
      <el-dialog
        title="附件管理"
        :visible.sync="AppendixDialog"
        width="50%"
        :before-close="AppendixDialog==false"
      >
        <div style="width:25%">
          <div style="width:100%">
            <span style="float:left;margin-right:10px">
              钻井工程设计
              <i style="color:red">*</i>
            </span>
            <el-upload
              class="upload-demo"
              action
              multiple
              :limit="3"
              :on-exceed="handleExceed"
              :on-change="handleChange"
              style="float:left"
            >
              <el-button size="small" type="primary" style="float:left">点击上传</el-button>
            </el-upload>
          </div>

          <div style="width:100%">
            <span style="float:left;margin-right:10px">
              钻井地质设计
              <i style="color:red">*</i>
            </span>
            <el-upload
              class="upload-demo"
              action
              multiple
              :limit="3"
              :on-exceed="handleExceed"
              :on-change="handleChange"
              style="float:left"
            >
              <el-button size="small" type="primary" style="float:left">点击上传</el-button>
            </el-upload>
          </div>

          <div style="width:100%">
            <span style="float:left;margin-right:10px">其他附件</span>
            <el-upload
              class="upload-demo"
              action
              multiple
              :limit="3"
              :on-exceed="handleExceed"
              :on-change="handleChange"
              style="float:left"
            >
              <el-button size="small" type="primary" style="float:left">点击上传</el-button>
            </el-upload>
          </div>
        </div>

        <el-table
          ref="multipleTable"
          :data="AppendixData"
          tooltip-effect="dark"
          style="width: 100%"
        >
          <el-table-column label="序号" prop="AppendixId"></el-table-column>
          <el-table-column label="文件名" prop="AppendixFileName"></el-table-column>
          <el-table-column label="分类" prop="AppendixClassify"></el-table-column>
          <el-table-column label="大小" prop="AppendixKb"></el-table-column>
          <el-table-column label="操作" prop="AppendixHandle">
            <el-link target="_blank">预览</el-link>
            <el-link target="_blank">删除</el-link>
            <el-link target="_blank">下载</el-link>
          </el-table-column>
        </el-table>
        <span slot="footer" class="dialog-footer">
          <el-button @click="AppendixDialog = false">保 存</el-button>
        </span>
      </el-dialog>
    </div>
    <!-- 附件管理   end -->
  </div>
</template>
<script>
var EditDiv = {
  template: `<div class="edit-div"
         v-html="value"
         :contenteditable="canEdit"
         :computedmoney="comMoney"
         v-on:focus="isLocked = true"
         v-on:blur="isLocked = false"
         v-on:input="changeText"
         >
    </div>`,
  props: {
    value: {
      type: [String, Number],
      default: "",
    },
    canEdit: {
      type: Boolean,
      default: true,
    },
    comMoney: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      isLocked: false,
    };
  },
  methods: {
    changeText() {
      this.$emit("input", this.$el.innerHTML);
    },
  },
};

import axios from "axios";
var FileSaver = require("file-saver");
import XLSX from "xlsx";

export default {
  name: "initialBudgetTable",
  props: ["ExcelData", "SumComNumer", "CanEditData"],
  created() {},
  beforeUpdate() {},
  components: {
    EditDiv,
  },
  watch: {
    //监听获取探井工作计划表选中数据的变化 并且赋值给用来遍历的数组WellNewsData
    originData(newV, oldV) {
      var that = this;
      var WellNewsData = that.WellNewsData;
      that.transData = [];
      let arr = new Array();
      let f = [];
      let s = [];
      newV.forEach(function (item, index) {
        WellNewsData.forEach(function (witem, windex) {
          if (item.type == witem.type) {
            witem.value = item.value;
          } else if (item.type == "id") {
            that.SelectTestPicId = item.value;
          }
          if (item.type == "revolution") {
            that.DefaultRevolution = item.value;
          }
        });
      });
      WellNewsData.forEach(function (item, index) {
        if (index % 2 != 0) {
          f.push(item.label);
          f.push(item.value);
        } else {
          s.push(item.label);
          s.push(item.value);
        }
      });
      that.transData.push(s);
      that.transData.push(f);
    },
    tableData: {
      handler: function (newV, oleV) {
        // console.log(newV)
      },
      deep: true,
    },
  },
  computed: {
    //获取探井工作计划表中选中的数据
    originData() {
      return this.$store.state.TestPicSelectData;
    },
    // rmb(){
    //     return function(val){
    //       return (val.dollar*val.rate).toFixed(2);
    //     }
    // },
    // dollar(){
    //    return function(val){
    //       return val.dollar;
    //     }
    // },
    //折合人民币的计算
    comConventRmb() {
      return function (val) {
        return parseFloat(
          val.number * val.rmb * val.revolution * val.rate +
            val.number * val.dollar * val.revolution * val.rate
        ).toFixed(2);
      };
    },
    //预算人民币的计算
    comRmb(val) {
      return function (val) {
        return (
          parseFloat(val.number) *
          parseFloat(val.rmb) *
          parseFloat(val.revolution) *
          parseFloat(val.rate)
        ).toFixed(2);
      };
    },
    //预算美元的计算
    comDollar(val) {
      return function (val) {
        return parseFloat(
          val.number * val.dollar * val.revolution * val.rate
        ).toFixed(2);
      };
    },
    //部分数量总计需要从其他组件获取
    comNumber(val) {
      return function (val) {
        val.number = this.SumComNumer;
        return val.number;
      };
    },
    //下表的周期的默认值等于上表的周期
    // revolution(val){
    //   var that = this;
    //      return function (val) {
    //        val.revolution = that.DefaultRevolution;
    //     return   val.revolution ;
    //   };
    // },
    // rate(val){
    //      return function (val) {
    //        val.rate = 1.2;
    //     return   val.rate ;
    //   };
    // }
  },
  //'','通过','审批意见','提及','通过','通过',''
  data() {
    return {
      ratermb: "",
      AppendixData: [],
      ValueType: true,
      AppendixDialog: false,
      ConsultWellDialog: false,
      selectValue: "11",
      SelectTestPicId: "",
      InputDisable: false,
      transData: [],
      tableData: [
        {
          uid: "1-1",
          projectName: "单井成本合计",
          comConventRmb: "",
          comRmb: "",
          comDollar: "",
          unitPrice: 12,
          rmb: 200,
          dollar: 300,
          number: 12,
          revolution: 2,
          rate: 2.1,
          unit: "元",
          remarks: "wu",
          children: [
            {
              uid: "1-1-1",
              projectName: "单井成本合计1-11",
              comConventRmb: "",
              comRmb: "",
              comDollar: "",
              unitPrice: 12,
              rmb: 500,
              dollar: 555,
              number: 3,
              revolution: 4,
              rate: 3,
              unit: "元",
              rremarks: "wu",
              rightDialog: true,
            },
            {
              uid: "1-1-2",
              projectName: "单井成本合计1-22",
              comConventRmb: "",
              comRmb: "",
              comDollar: "",
              unitPrice: 12,
              rmb: 500,
              dollar: 555,
              number: 3,
              revolution: 4,
              rate: 3,
              unit: "元",
              remarks: "wu",
            },
          ],
        },
        {
          uid: "1-2",
          projectName: "单井成本合计22",
          comConventRmb: "",
          comRmb: "",
          comDollar: "",
          unitPrice: 12,
          rmb: 500,
          dollar: 555,
          number: 3,
          revolution: 4,
          rate: 3,
          unit: "元",
          remarks: "wu",
        },
      ],
      ConsultWellSelectData: [],
      ConsultWellData: [
        { ConsultWellName: "**井" },
        { ConsultWellName: "**井" },
        { ConsultWellName: "**井" },
        { ConsultWellName: "**井" },
        { ConsultWellName: "**井" },
      ],
      WellNewsData: [
        { label: "井名", type: "wellName", value: "" },
        { label: "费率", type: "rate", value: "" },
        { label: "井深(米)", type: "wellDepth", value: "" },
        { label: "周期", type: "revolution", value: "" },
        { label: "水深", type: "waterDepth", value: "" },
        { label: "钻井作业", type: "drillingOperation", value: "" },
        { label: "补心海拔", type: "buxinAltitude", value: "" },
        { label: "拖航压载(天)", type: "towingBallast", value: "" },
        { label: "取心(天)", type: "coring", value: "" },
        { label: "船舶油料", type: "boatOli", value: "" },
        { label: "固井(层)", type: "wellCementaion", value: "" },
        { label: "钻井船", type: "drillShip", value: "" },
      ],
      DefaultRevolution: "",
      DefaultRate: "",
    };
  },
  methods: {
    RightDialog(val) {
      var that = this;
      that.$emit("onRightDialog", val);
    },
    ConsultWellSelection(val) {
      this.ConsultWellSelectData = val;
    },
    SubmitBudgetData() {
      var that = this;
      that.$refs.BudgetTable.setCurrentRow();
      that.$emit("onSubmitBudTable", "已完成");
    },

    handleClose() {},
    SaveExcel() {
      var xlsxParam = { raw: true };
      var wb = XLSX.utils.table_to_book(
        document.querySelector("#BudgetTable"),
        xlsxParam
      );
      var wbout = XLSX.write(wb, {
        bookType: "xlsx",
        bookSST: true,
        type: "array",
      });
      try {
        FileSaver.saveAs(
          new Blob([wbout], {
            type: "application/octet-stream",
          }),
          "Test.xlsx"
        );
      } catch (e) {
        if (typeof console !== "undefined") console.log(e, wbout);
      }
      return wbout;
    },
    handleExceed(files, fileList) {},
    //上传文件时处理方法
    handleChange(file, fileList) {
      this.fileTemp = file.raw;
      var that = this;
      if (this.fileTemp) {
        if (
          this.fileTemp.type ==
            "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" ||
          this.fileTemp.type == "application/vnd.ms-excel"
        ) {
          var d = {
            AppendixId: this.fileTemp.uid,
            AppendixFileName: this.fileTemp.name,
            AppendixClassify: "qita",
            AppendixKb: this.fileTemp.size,
          };
          that.AppendixData.push(d);
          //this.importfxx(this.fileTemp);
        } else {
          this.$message({
            type: "warning",
            message: "附件格式错误，请删除后重新上传！",
          });
        }
      } else {
        this.$message({
          type: "warning",
          message: "请上传附件！",
        });
      }
    },
    importfxx(obj) {
      let _this = this;
      let inputDOM = this.$refs.inputer;
      // 通过DOM取文件数据

      this.file = event.currentTarget.files[0];

      var rABS = false; //是否将文件读取为二进制字符串
      var f = this.file;

      var reader = new FileReader();
      //if (!FileReader.prototype.readAsBinaryString) {
      FileReader.prototype.readAsBinaryString = function (f) {
        var binary = "";
        var rABS = false; //是否将文件读取为二进制字符串
        var pt = this;
        var wb; //读取完成的数据
        var outdata;
        var reader = new FileReader();
        reader.onload = function (e) {
          var bytes = new Uint8Array(reader.result);
          var length = bytes.byteLength;
          for (var i = 0; i < length; i++) {
            binary += String.fromCharCode(bytes[i]);
          }
          //如果没有在main.js中引入，则此处需要引入，用于解析excel
          // var XLSX = require("xlsx");
          if (rABS) {
            wb = XLSX.read(btoa(fixdata(binary)), {
              //手动转化
              type: "base64",
            });
          } else {
            wb = XLSX.read(binary, {
              type: "binary",
            });
          }
          outdata = XLSX.utils.sheet_to_json(wb.Sheets[wb.SheetNames[0]]);
          console.log(outdata);
        };
        reader.readAsArrayBuffer(f);
      };
      if (rABS) {
        reader.readAsArrayBuffer(f);
      } else {
        reader.readAsBinaryString(f);
      }
    },
  },
};
</script>


<style>
.el-dialog__body {
  padding: 0 20px 10px 20px;
}
</style>