<template>
  <div class="testPitWorkTable" style="height:100%">
    <!-- 工具栏 -->
    <div class="ToolBal">
      <el-button style="float: left;" @click="SaveExcel('Tanjing  thead')">下载模板</el-button>
      <el-upload
        class="upload-demo"
        action
        :on-change="handleChange"
        :on-remove="handleRemove"
        :show-file-list="false"
        :on-exceed="handleExceed"
        accept="application/vnd.openxmlformats-    
      officedocument.spreadsheetml.sheet, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
        :auto-upload="false"
        style="float: left;"
      >
        <el-button>导入探井计划</el-button>
      </el-upload>
      <el-button v-on:click="SaveExcel('Tanjing')">导出</el-button>
    </div>
    <!--工具栏 end-->
    <h1>探井计划工作表</h1>
    <el-table
      id="Tanjing"
      ref="multipleTable"
      :data="DataType"
      tooltip-effect="dark"
      style="width: 100%"
      @selection-change="handleSelectionChange"
    >
      <el-table-column type="selection"></el-table-column>
      <el-table-column prop="area" label="区域"></el-table-column>
      <el-table-column prop="year" label="年份"></el-table-column>
      <el-table-column prop="wellName" label="井名"></el-table-column>
      <el-table-column prop="wellType" label="井别"></el-table-column>
      <el-table-column prop="wellMould" label="井型"></el-table-column>
      <el-table-column prop="wellPositionX" label="井位坐标X"></el-table-column>
      <el-table-column prop="wellPositionY" label="井位坐标Y"></el-table-column>
      <el-table-column prop="wellDepth" label="井深（米）"></el-table-column>
      <el-table-column prop="waterDepth" label="水深"></el-table-column>
      <el-table-column prop="buxinAltitude" label="补心海拔（米）"></el-table-column>
      <el-table-column prop="revolution" label="周期（天）"></el-table-column>
      <el-table-column prop="drillingOperation" label="钻井作业"></el-table-column>
      <el-table-column prop="towingBallast" label="拖航压载（天）"></el-table-column>
      <el-table-column prop="coring" label="取心（天）"></el-table-column>
      <el-table-column prop="drillShip" label="钻井船"></el-table-column>
      <el-table-column prop="wellCementaion" label="固井（层）"></el-table-column>
      <el-table-column prop="initialBudget" label="初预算"></el-table-column>
      <el-table-column prop="initialBudgetApproval" label="初预算批复"></el-table-column>
      <el-table-column prop="adjustBudget" label="调整预算"></el-table-column>
      <el-table-column prop="adjustBudgetApproval" label="调整预算批复"></el-table-column>
      <el-table-column prop="financialStatements" label="财务决算"></el-table-column>
      <el-table-column prop="remarks" label="备注"></el-table-column>
    </el-table>
  </div>
</template>
<script>
import axios from "axios";
var FileSaver = require("file-saver");
import XLSX from "xlsx";

export default {
  name: "TestPitWorkTable",
  props: ["CanEditData", "SelectDataId"],
  computed: {
    DataType() {
      return this.$store.state.TestPicWorkData;
    },
  },
  watch: {
  },
  mounted() {
    
      $("#Tanjing").scrollTop($(".testPitWorkTable").height());
  },
  data() {
    return {
      TestPitData: [
        // {
        //   id:0,
        //   area: "天津",
        //   year: "2019",
        //   wellName: "KL***",
        //   wellType: "预探井",
        //   wellMould: "定向井",
        //   wellPositionX: "",
        //   wellPositionY: "",
        //   wellDepth: "",
        //   waterDepth: "4311.5",
        //   buxinAltitude: "89.5",
        //   revolution: "",
        //   drillingOperation: "",
        //   towingBallast: "",
        //   coring: "",
        //   drillShip: "",
        //   wellCementaion: "",
        //   initialBudget: '可编辑',
        //   initialBudgetApproval: "",
        //   adjustBudget: "",
        //   adjustBudgetApproval: "",
        //   financialStatements: "",
        //   remarks: "11111",
        // }
      ],
      EditTestPitData: [],
      FinshTestPitData: [],
      multipleSelectionId: "",
      currentRowIndex: "",
      PrototTypeData:[]
    };
  },
  methods: {
    handleSelectionChange(val, index) {
      var that = this;
      if (val.length > 0) {
        that.multipleSelectionId = val[0].id;
      }
    var arr = new Array();
      this.$refs.multipleTable.$children.forEach((obj) => {
        var data = new Object();
    
        data["prop"] = obj.prop;
        data["label"] = obj.label;
       arr.push(data)
      });
 
      that.$emit("onSelectData", val,arr);
    },

    //上传文件时处理方法
    handleChange(file, fileList) {
      this.fileTemp = file.raw;
      if (this.fileTemp) {
        if (
          this.fileTemp.type ==
            "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" ||
          this.fileTemp.type == "application/vnd.ms-excel"
        ) {
          this.importfxx(this.fileTemp);
        } else {
          this.$message({
            type: "warning",
            message: "附件格式错误，请删除后重新上传！",
          });
        }
      } else {
        this.$message({
          type: "warning",
          message: "请上传附件！",
        });
      }
    },
    //超出最大上传文件数量时的处理方法
    handleExceed() {
      this.$message({
        type: "warning",
        message: "超出最大上传文件数量的限制！",
      });
      return;
    },
    //移除文件的操作方法
    handleRemove(file, fileList) {
      this.fileTemp = null;
    },
    importfxx(obj) {
      let _this = this;
      let inputDOM = this.$refs.inputer;
      // 通过DOM取文件数据

      this.file = event.currentTarget.files[0];

      var rABS = false; //是否将文件读取为二进制字符串
      var f = this.file;

      var reader = new FileReader();
      //if (!FileReader.prototype.readAsBinaryString) {
      FileReader.prototype.readAsBinaryString = function (f) {
        var binary = "";
        var rABS = false; //是否将文件读取为二进制字符串
        var pt = this;
        var wb; //读取完成的数据
        var outdata;
        var reader = new FileReader();
        reader.onload = function (e) {
          var bytes = new Uint8Array(reader.result);
          var length = bytes.byteLength;
          for (var i = 0; i < length; i++) {
            binary += String.fromCharCode(bytes[i]);
          }
          //如果没有在main.js中引入，则此处需要引入，用于解析excel
          // var XLSX = require("xlsx");
          if (rABS) {
            wb = XLSX.read(btoa(fixdata(binary)), {
              //手动转化
              type: "base64",
            });
          } else {
            wb = XLSX.read(binary, {
              type: "binary",
            });
          }
          outdata = XLSX.utils.sheet_to_json(wb.Sheets[wb.SheetNames[0]]);
        
          outdata.forEach(function (item, index) {
            var arr = new Object();
            arr["id"] = UUID();
            arr["area"] = item.区域 != "" ? item.区域 : "";
            arr["year"] = item.年份 != "" ? item.年份 : "";
            arr["wellName"] = item.井名 != "" ? item.井名 : "";
            arr["wellType"] = item.井别 != "" ? item.井别 : "";
            arr["wellMould"] = item.井型 != "" ? item.井型 : "";
            arr["wellPositionX"] = item.井位坐标X != "" ? item.井位坐标X : "";
            arr["wellPositionY"] = item.井位坐标Y != "" ? item.井位坐标Y : "";
            arr["wellDepth"] = item.井深 != "" ? item.井深 : "";
            arr["waterDepth"] = item.水深 != "" ? item.水深 : "";
            arr["buxinAltitude"] = item.补心海拔 != "" ? item.补心海拔 : "";
            arr["revolution"] = item.周期 != "" ? item.周期 : "";
            arr["drillingOperation"] = item.钻井作业 != "" ? item.钻井作业 : "";
            arr["towingBallast"] = item.拖航压载 != "" ? item.拖航压载 : "";
            arr["coring"] = item.取心 != "" ? item.取心 : "";
            arr["drillShip"] = item.钻井船 != "" ? item.钻井船 : "";
            arr["wellCementaion"] = item.固井 != "" ? item.固井 : "";
            arr["initialBudget"] = item.初预算 != "" ? item.初预算 : "";
            arr["initialBudgetApproval"] =
              item.初预算批复 != "" ? item.初预算批复 : "";
            arr["adjustBudget"] = item.调整预算 != "" ? item.调整预算 : "";
            arr["adjustBudgetApproval"] =
              item.调整预算批复 != "" ? item.调整预算批复 : "";
            arr["financialStatements"] =
              item.财务决算 != "" ? item.财务决算 : "";
            arr["remarks"] = item.备注 != "" ? item.备注 : "";
            _this.TestPitData.push(arr);
          });
        };
        reader.readAsArrayBuffer(f);
      };
      if (rABS) {
        reader.readAsArrayBuffer(f);
      } else {
        reader.readAsBinaryString(f);
      }
    },
    SaveExcel(val) {
      var xlsxParam = { raw: true };
      var wb = XLSX.utils.table_to_book(
        document.querySelector("#" + val),
        xlsxParam
      );
      var wbout = XLSX.write(wb, {
        bookType: "xlsx",
        bookSST: true,
        type: "array",
      });
      try {
        FileSaver.saveAs(
          new Blob([wbout], {
            type: "application/octet-stream",
          }),
          "Test.xlsx"
        );
      } catch (e) {
        if (typeof console !== "undefined") console.log(e, wbout);
      }
      return wbout;
    },
  },
};

function UUID() {
  return (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
}
</script>

<style>
.testPitWorkTable {
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 20px;
  text-align: center;
  padding: 5px;
  margin: 0;
}


.ToolBal {
  background-color: rgba(0, 174, 255, 0.63);
  height: 50px;
  width: 100%;
}

.ToolBal button{
   margin-top: 5px;
   margin-left: 10px;
}

</style>